<%# link for modal creation: https://dzone.com/articles/rails-creating-modals %>

<div class="modal-header">
    <h1>How Search Works</h1>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>
<div class="modal-body">
  <p>
  Searching will display all beads fitting any option selected within a certain
  category. For example, selecting <span class = "option">red</span> and <span class = "option">blue</span> in the <span class = "form-label">Color</span> category will display
  all beads that are <span class = "option">red</span> <span class = "logic">or</span> <span class = "option">blue</span>.
</p>
<p>
  However if options are selected in multiple categories,
  only beads that fit a selected option from each category will be shown. For example, if <span class = "option">red</span> and <span class = "option">blue</span> are selected in <span class = "form-label">Color</span>, and
  <span class = "option">10mm</span> is selected in <span class = "form-label">Size</span>, then the application will display only beads that are <span class = "option">red</span> <span class = "logic">and</span> <span class = "option">10mm</span>, <span class = "logic">or</span> beads
   that are <span class = "option">blue</span> <span class = "logic">and</span> <span class = "option">10mm</span>.
 </p>
</div>
