<% provide(:title, "About") %>
<h1>About</h1>

<p>This is a website that allows users to keep track of beads they own. You can specify the brand, color, shape, size and add a description, as well as sort through them.</p>
