<% provide(:title, "About") %>
<h1>About</h1>

<p>This is a web application that allows you to keep track of beads you own. You can specify the brand, color, shape, size and add a description, as well as sort through them.</p>
<p>It was built using Rails.</p>
