<%#app/views/contact_forms/create.html.erb %>
<h1>Thank you for your message!</h1>

I'll try to respond as soon as possible.

<div class = "bead">
<div class = "bead-links">
<%= link_to 'Main Page', root_url, class: 'bead-link' %>
</div>
</div>
