/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

$off-white: #f1f3f4;
$light-blue: #79bac1;
$blue: #2a7886;
$purple: #512b58;

/* HEADER */
.header {
  background-color: $purple;
  margin-bottom: 1em;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a:link {color: $light-blue;}

  a:visited {color: $light-blue;}

  a:hover {color: $off-white;
            text-decoration: none; }

  .title {
    font-family: Georgia, serif;

    font-size: 3em;
    font-variant: small-caps;
    }

  .menu {
    font-size: 2em;
  }
}

.dropdown-menu {
  a {
    text-align: center;
  }
  a:hover {color: $purple;
            text-decoration: none;
          }
  a:active {background-color: #ffffff;}
}

/* GENERAL */
body {
  background-color: $off-white;
  font-size: 100%;
  height: 100%;
}

.content {
  margin: 0em 1em;

  h1 {
    font-size: 2em;
    font-weight: bold;
    color: $blue;
  }
}

/* NEW BEAD */
.form-control {
  margin: 0.5em;
}


/* FOOTER */

.footer {
  border-top: 0.1em solid #bbb;
  padding: 0.25em 0.5em 0;

  .footer-text {
    font-size:0.7em;
  }
}
