/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

$off-white: #f1f3f4;
$gray: #bbb;
$light-blue: #79bac1;
$blue: #2a7886;
$purple: #512b58;

/*********** GENERAL SITEWIDE STYLE ***************/

/* HEADER */
.header {
  background-color: $purple;
  margin-bottom: 1em;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a:link {color: $light-blue;}

  a:visited {color: $light-blue;}

  a:hover {color: $off-white;
            text-decoration: none; }

  .title {
    font-family: Georgia, serif;

    font-size: 3em;
    font-variant: small-caps;
    }

  .menu {
    font-size: 2em;
  }
}

.dropdown-menu {
  a {
    text-align: center;
  }
  a:hover {color: $purple;
            text-decoration: none;
          }
  a:active {background-color: #ffffff;}
}

/* GENERAL BODY CONTENT*/
body {
  background-color: $off-white;
  font-size: 100%;
  height: 100%;

  .content {
    margin: 0em 1em;

    h1 {
      font-size: 2em;
      font-weight: bold;
      color: $blue;
      font-variant-caps: small-caps;
    }
  }

  .button {
    background-color: $purple;
    color:$off-white;
  }
}

/* FOOTER */

.footer {
  border-top: 0.1em solid $gray;
  padding: 0.25em 0.5em 0;

  .footer-text {
    font-size:0.7em;
  }
  .github-link {
    margin-bottom: 0.5em;
  }
}

/************* NEW/EDIT BEAD PAGE ***********/

.form-control {
  margin: 0.5em;
}

/********* BEAD CONTENT RELATED FORMATTING *****/

.bead {
  /* IN GENERAL */
  position: relative;
  overflow: auto;

  .bead-link {
    color: $light-blue;
    font-size: 0.9em;
    display: inline-block;
  }

  .bead-links {
    float: right;
    white-space: nowrap;
    right: 0.5em;
    bottom: 0.5em;
    .link-divider {
      color: $blue;
    }
  }

  a.bead-link:hover {
    color: $blue;
  }

  a:hover {
      text-decoration: none;
      font-weight: 500;
  }

  /* FOR TILE DISPLAY */
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span {
    color: $purple;
    font-weight: 600;
  }

  .underline {
    text-decoration: underline;
  }

  a {
    color: black;
    display: block;
  }

  #add-bead {
    color: $light-blue;
    font-size: 2em;
    line-height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*FOR DETAIL DESCRIPTION DISPLAY*/

  p.description {
    overflow: auto;
    white-space: normal;
  }
}

/* BEAD INDEX */
.bead-list {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 2em;

  .bead-placeholder {
    margin: 0.5em;
    flex: 1 0 23%;
  }

  .bead {
    background-color: white;
    padding: 1em;
    margin: 0.5em;
    line-height: 1.2em;
    flex: 1 0 23%;
    min-width: 0;
  }
}

.bead-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 1em;
}


/* FORM */
.form-label {
  color: $light-blue;
  font-weight: bold;
  margin-left: 0.5em;
}

/* FORM ERROR MESSAGE */
.error-explanation {
  background-color: #fff;
  border-radius: 1.2em;
  border: 2px solid $purple;
  font-size: 100%;
  margin-bottom: 1em;

  .error-header {
    background-color: $purple;
    border-radius: 1em 1em 0 0;
    text-align: center;
    color: $light-blue;
    font-weight: 500;
    padding: 0.25em 0;
    margin-bottom: 0.5em;
  }
}

/* SEARCH BAR */

#search-explain {
  display: inline;
  font-size: 0.6em;
  vertical-align: super;
  color: $gray;
}
.checkbox {
  display:block;
}
.check_boxes {
  margin-right: 0.5em;
}

/* INDEX PAGE */
.index {
  display: flex;
}

.bead-search {
  background-color: #fff;
  padding: 1em;
  overflow: scroll;

  .button {
    margin: auto;
    display: block;
  }
}
