// https://medium.com/swlh/advanced-filtering-for-your-rails-5-application-28c8da2d29b6
function replaceBeads (innerHTML) {
  const beads = document.getElementsByClassName('bead-list')[0];
  let temp = innerHTML;
  temp += "<%= j render 'addbead' %>";
  for (let i = 0; i <3 ; i ++) {
      temp += "<div class = 'bead-placeholder'></div>";
  }
  beads.innerHTML = temp;
}

if ('<%= @filter %>' === "[]") {
replaceBeads("<%= j render 'beads', beads: Bead.all %>");
}
else {
replaceBeads("<%= j render 'beads', beads: @beads %>");
}
