<%#Creating a simple search
# https://medium.com/le-wagon/build-a-simple-search-with-the-simple-form-gem-in-rails-5-b247168282d1 %>

<% @colors = Bead.color_counts.pluck(:name).uniq.sort_by!{|e| e.downcase}%>
<%= simple_form_for :search, required: false, url: root_path, method: "GET" do |f| %>
  <div class="form-label" >Colors</div>
  <%= f.input :colors, label: false,  collection: @colors, as: :check_boxes %>
  <%= f.submit "Search", class: "btn button" %>
<% end %>
<%= bead_list(@beads) %>
