
<nav class="navbar navbar-expand-lg header">
    <div class = "title">
      <a href="/">Bead Listing </a>
    </div>

  <div class="nav-item dropdown">
    <a class="nav-link menu" href="#" id="navbarDropdown"
              role = "button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      ☰
    </a>
    <div class="dropdown-menu dropdown-menu-right dd" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="/about">About</a>
      <a class="dropdown-item" href="/beads/new">Add Beads</a>
    </div>
  </div>

</nav>
